/*
This CSS is really just for this demo page
But take a look at the comments to see how I set padding
and borders on the images
*/
html body{
    margin:0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
     padding-top: 80px;
}
body.home{
    background:#000;
}
a{
    text-decoration:none;
}
    a:hover{
        color: #9d9d9d;
        text-decoration: none;
    }
.header{
    padding:0;
    background-color: #000;
}
.header h1{
    color: #fff;
    display:inline-block;
    font-weight:bold;
    margin:0;
    padding:10px;
}
.header h1 a{
    color:#fff
}
.header h1 a:hover{
    color:#09F;
}
.header nav{
    margin-bottom: 0;
    padding: .5rem 2rem;
    
    z-index: 10000;
}
nav li.social{
    margin: 0 0 0 .5rem;
}
nav li.social a{
    display: inline-block;
    margin: 5px 3px 3px;
    padding: 0 !important;
    width: 35px;
}
nav li.social a img{
    opacity:.4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all  .3s ease-in-out;
    -o-transition: height .3s ease-in-out;
    transition: all  .3s ease-in-out;
    max-width: 100%;
}
nav li.social a:hover img{
    opacity:1;
}
.affix-top, .affix{
 position: static;
}
.Example_Details{
    padding:20px;
    color:#272D35;
    background-color: #FFFFFF;
    margin-top:0;
}
h1.instance-header{
    padding:20px;
    margin-bottom:10px;
    margin-top: 30px;
}

footer{
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 1.8px;
    padding: 0.3rem 1rem;
    text-align: right;
    text-transform: uppercase;

}
    footer ul{
        list-style: none;
        margin: 0;
        padding:0;
    }
    footer ul li{
        display: inline-block;
    }
        footer ul li a{
            color: #fff;
            font-size: 0.8rem;
            letter-spacing: 1px;
        }
/* admin side menu */
ul.sidemenu{
    list-style: none;
    padding: 0 0 0 .3rem;
}
 ul.sidemenu li{
    display: block;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 0 0.5rem;
 }
.Collage{
    background: #000;
    /*This is where you set the padding you want between the images*/
    padding:20px 10px;
    


}
.Collage img{
    border: 0;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    padding: 0;
    vertical-align: bottom;
}


/* In this example, this is the main item being resized */
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
}
.Image_Wrapper{
    cursor: pointer;
    display: block;
}

    .Image_Wrapper img{
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
.Image_Wrapper:hover a img{
    opacity: .6;
    
    
}

.Caption{
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
    );
    bottom: 0;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing:1px;
    height: auto;
    width: 100%;
    -webkit-transition: height .3s ease-in-out, background .3s ease-in-out;
    -moz-transition: height .3s ease-in-out, background .3s ease-in-out;
    -o-transition: height .3s ease-in-out, background .3s ease-in-out;
    transition: height .3s ease-in-out, background .3s ease-in-out;

}
    
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px 10px;
    text-transform: uppercase;
}
/* POST */
.post{
    margin: 0 auto 2rem;
}
    .post h1{
        color: #222;
        font-size: 2rem;
    }
    .post a{
        color:#999;
    }
    .post .top-post{
        display: block;
        margin: 0 auto 2em;
        text-align: center;
        width: 100%;
    }
        .post .top-post img{
            margin: auto;
        }
    .post .text{
        color: #555;
        display: block;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 1.6rem;
        margin: 0 auto 3em;
        position: relative;
    }
            .post .text p b{
                font-weight:600;
            }
    .post .text img{
        max-width:100%;
        height:auto
        
    }
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
        }
        .image-container{
            margin: 1rem auto;
        }
        .image-container img{
            display: block;
            height: auto;
            margin: 0 auto;
            max-width: 100%;
        }

        .container.post .text p iframe,
        .container.post .text p object,
        .container.post .text p embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
/* GALLERY */
span.text-gal{
    display: block;
    margin: 1.5rem auto 0 1rem;
}
/* EVENTS */
.events{
    margin: 0 auto 6rem;
}
.events h1{
    color: #222;
    font-size: 1.8rem;
    text-transform: uppercase;
}
    .next-events {
        display: block;
        margin: 0 auto 2em;
        text-align: center;
        width: 100%;
    }
    .events .next-events .rsSlide h3{
        font-size: 1.25rem;
        font-weight: 600;
        margin: 1rem auto;
        text-align: left;
        text-transform: uppercase;
        width: 93%;
    }
    .events .next-events .rsSlide .info-event{
        display: block;
        margin:1rem auto 2rem;
        text-align: left;
        width: 93%;
    }
        .events .next-events .rsSlide .info-event p{
            font-size: 1.1rem;
            font-weight: 300;
            letter-spacing: 0.5px;
        }

    .events ul.past-events{
        list-style: none;
        display: block;
        margin: 1rem auto;
        padding: 0;
    }
        .events ul.past-events li{
          display: block;
          margin: 1rem auto;  
        }
            .events ul.past-events li a{
                color: #464646;
                font-size: 1.2rem;
                font-weight: 300;
                letter-spacing: 0.5px;
                padding: 0.5rem 0.8rem;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all  .5s ease-in-out;
                -o-transition: height .5s ease-in-out;
                transition: all  .5s ease-in-out;
            }
            .events ul.past-events li a:hover{
                background: #282828;
                color: #fff;
            }
/*ABOUT */
.post.about{
    margin: 0 auto 6rem;
}
.post.about h1{
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 950px){
    .header nav{
        padding: .5rem 1rem;
    }
    .navbar-brand{
        width: 310px;
    }
     #sidebar.affix-top {
        position: static;
        margin-top:30px;
        width:228px;
      }
  
  #sidebar.affix {
    position: static;
    top:70px;
    width:228px;
  }
}
@media screen and (max-width: 750px){
/*header */
    .navbar-inverse {
        background-color: rgba(0, 0, 0, 0.97);
    }
    .navbar-brand{
        padding:.5rem 0 0;
    }
/*post */
    .post h1{
        font-size: 1.4rem;
    }

}
@media screen and (max-width: 480px){
/* header */
    .header nav{
        padding: .5rem;
    }
    .navbar-brand{
        width: 265px;
    }
    .navbar-toggle{
        margin-right: -3px;
        padding: 9px 6px;
    }
/*home */
    .Caption{
        font-size: 1rem;
    }
    .Caption_Content {
        padding: 15px 10px;
    }
/*footer */
    footer{
        font-size: 0.6rem;
        letter-spacing: 0.6px;
        padding: 0.3rem;
    }
    footer ul li a {
        font-size: 0.7rem;
        letter-spacing: 1px;
    }


}


.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}
.img img {
    margin:0 auto;
    text-align: center
}


.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}
.jumbotron welcome hero-spacer{
    background:url(../images/event03.jpg) center no-repeat top;
}

.button-black {
  color: #fff;
  background:#000;
  border-color: #2e6da4;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}


.pointsr{
    color: #cc0000;
}


.caption > .detail{
    background: #fff;
}

.detail{
    background: #fff;
}

.delipoints{
    padding: 10px 5px;
    color: #333333;
    font-weight: bold;
}

.used {
    padding: 10px 5px;
    color: #cc0000;
    font-weight: bold;
}

